In [1]:
# DataFrameleri sıfırdan oluşturmak için şu metodlar kullanılabilir:
# 1) Bir dosya okunarak içindeki veriler DataFrame olarak elde edilebilir
# 2) Bir Python dictionarysi kullanılarak DataFrame oluşturulabilir
# 3) Veriler için bir 2B list, sütunlar için bir 1B list zip fonksiyonu ile birleştirilerek DataFrame oluşturulabilir

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('person.csv', index_col=0)
df

          Ad    Soyad  Yaş
Index
1      Tolga  Karahan   24
2        Ali   Kanber   27
3        Ece    Gümüş   32

In [12]:
data = {'Index':[1, 2, 3], 
        'Ad':['Tolga', 'Ali', 'Ece'],
        'Soyad':['Karahan', 'Kanber', 'Gümüş'],
        'Yaş':[24, 27, 32]}

df = pd.DataFrame(data)
df = df.set_index('Index')
df

          Ad    Soyad  Yaş
Index
1      Tolga  Karahan   24
2        Ali   Kanber   27
3        Ece    Gümüş   32

In [15]:
Index = [1, 2, 3]
Ad = ['Tolga', 'Ali', 'Ece']
Soyad = ['Karahan', 'Kanber', 'Gümüş']
Yaş = [24, 27, 32]
column_labels = ['Ad', 'Soyad', 'Yaş']
column_data = [Ad, Soyad, Yaş]
data = dict(list(zip(column_labels, column_data)))

df = pd.DataFrame(data, index=Index)
df

      Ad    Soyad  Yaş
1  Tolga  Karahan   24
2    Ali   Kanber   27
3    Ece    Gümüş   32

In [16]:
# DataFrameler Numpy üzerine kurulu olduğu için broadcastingi destekler
# Örneğin yeni bir sütun oluşturup buna tek bir değer atarsak bu değer satırlar boyunca broadcasting yapılır

In [18]:
df['new'] = 0
df

      Ad    Soyad  Yaş  new
1  Tolga  Karahan   24    0
2    Ali   Kanber   27    0
3    Ece    Gümüş   32    0

In [19]:
# Broadcasting işlemi her tip için yapılabilir. Eğer bir dictionaryden DataFrame oluşturacaksak broadcast edilecek
# olan sütun için tek bir değer koyabiliriz

In [20]:
heights = [1.65, 1.72, 1.85, 1.64]
data = {'height':heights, 'sex':'F'}
df = pd.DataFrame(data)
df

   height sex
0    1.65   F
1    1.72   F
2    1.85   F
3    1.64   F

In [21]:
# DataFrame oluşturulduktan sonra columns fieldı ile sütun isimlerini değiştirebiliriz
# DataFrame oluşturulduktan sonra index fieldı ile satır indekslerini değiştirebiliriz

In [22]:
df.columns = ['Boy', 'Cinsiyet']
df.index = ['A', 'B', 'C', 'D']
df

    Boy Cinsiyet
A  1.65        F
B  1.72        F
C  1.85        F
D  1.64        F