In [1]:
# Bir dictionary nesnesini kullanarak Pandas dataframe uretebiliriz

import pandas as pd

brics = {'Country Code': ['BR', 'RU', 'IN', 'CH', 'SA'],
         'country':['brazil', 'russia', 'india', 'china', 'south africa'],
         'capital':['brasilia', 'moscow', 'delhi', 'beijing', 'pretoria'],
         'area':[8.516, 17.10, 3.286, 9.597, 1.221],
         'population':[200.4, 143.5, 1252, 1357, 52.98]}

brics_df = pd.DataFrame(brics).set_index('Country Code')
brics_df

# DataFrame e ait index field覺n覺 kullanarak her bir satir icin unique etiket atayabiliriz
# brics_df.index.name = 'Country Code'
# brics_df.index = ['BR', 'RU', 'IN', 'CH', 'SA']
# brics_df

                   country   capital    area  population
Country Code
BR                  brazil  brasilia   8.516      200.40
RU                  russia    moscow  17.100      143.50
IN                   india     delhi   3.286     1252.00
CH                   china   beijing   9.597     1357.00
SA            south africa  pretoria   1.221       52.98

In [5]:
# pd.read_csv(path) metodu ile csv dosyasini okuyarak bir data frame olusturabiliriz
# Okunan data framedeki sutunlardan birini indeks etiketleri yapmak icin csv dosyasini su sekilde okuruz:
# pd.read_csv(path, index_col = 0), ilk sutun indeks etiketleri olarak kullanilir

In [11]:
# DataFrame in herhangi bir sutununa DataFrame["sutun isim"] sintaksi ile erisebiliriz
# Fakat bu durumda geriye bir DataFrame degil series doner
# Eger sutuna erismek ve verilerin yine bir DataFrame de olmasini istiyorsak DataFrame[["sutun ismi"]]
# sintaksini kullanmamiz gerekir

In [15]:
brics_df["country"]

BR          brazil
RU          russia
IN           india
CH           china
SA    south africa
Name: country, dtype: object

In [16]:
brics_df[["country"]]

         country
BR        brazil
RU        russia
IN         india
CH         china
SA  south africa

In [17]:
# Cift koseli parantez notasyonunu kullanarak birden fazla sutun iceren bir alt data frame olusturabiliriz
brics_df[["country", "capital"]]

         country   capital
BR        brazil  brasilia
RU        russia    moscow
IN         india     delhi
CH         china   beijing
SA  south africa  pretoria

In [19]:
# Slice islemi kullanarak satirlarida elde edebiliriz
brics_df[1:4]

   country  capital    area  population
RU  russia   moscow  17.100       143.5
IN   india    delhi   3.286      1252.0
CH   china  beijing   9.597      1357.0

In [20]:
# DataFramelerde iki boyutlu numpy dizilerinde oldugu gibi hem satir hem de sutunlari kullanarak slice yapmak isteriz
# Fakat koseli parantezler ile hem satir hem de sutunlar覺 kullanarak slice yapamay覺z
# Hem satir hem de sutunlari kullanarak slice yapabilmek icin loc ve iloc fonksiyonlarini kullanmaliyiz
# loc fonksiyonlari etiket tabanli olarak verileri secer, iloc ise pozisyon tabanlidir
# Fonksiyon cagrilarinda yine tek cift koseli parantez series, iki cift koseli parantez dataframe dondurur

In [37]:
brics_df.loc["RU"]
# brics_df.iloc[1]

country       russia
capital       moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [25]:
brics_df.loc[["RU"]]
# brics_df.iloc[[1]]

   country capital  area  population
RU  russia  moscow  17.1       143.5

In [33]:
# Yukaridaki ornekler sadece koseli parantezle de gerceklestirilebilir.
# Sutunlarida slice icerisinde kullanalim
brics_df.loc[["RU", "CH", "BR"], ["capital", "population"]]
# brics_df.iloc[[1, 2, 0], [1, 3]]

     capital  population
RU    moscow       143.5
CH   beijing      1357.0
BR  brasilia       200.4

In [9]:
# Tum satirlar ve sadece belirlenen sutunlari alalim
# brics_df.loc[:, ["capital", "area", "population"]]
brics_df.iloc[:, 1:4]

               capital    area  population
Country Code
BR            brasilia   8.516      200.40
RU              moscow  17.100      143.50
IN               delhi   3.286     1252.00
CH             beijing   9.597     1357.00
SA            pretoria   1.221       52.98

In [7]:
brics_df.iloc[:2, :2]

             country   capital
Country Code
BR            brazil  brasilia
RU            russia    moscow