In [6]:
import numpy as np
import pandas as pd

In [7]:
# Create sample numpy array
arr = np.array([5, 10, 7, 14, 3])

# Create sample pandas data frame
brics = {'country':['brazil', 'russia', 'india', 'china', 'south africa'],
         'capital':['brasilia', 'moscow', 'delhi', 'beijing', 'pretoria'],
         'area':[8.516, 17.10, 3.286, 9.597, 1.221],
         'population':[200.4, 143.5, 1252, 1357, 52.98]}

brics_df = pd.DataFrame(brics)
brics_df.index = ['BR', 'RU', 'IN', 'CH', 'SA']

In [ ]:
# Bool ifadeleri kolayca and, or ve ya not operatörleri ile kullanabiliriz
# Fakat özellikle binary operatörler söz konusu olduğunda numpy dizilerini kullanamayız
# array > 3 and array < 10 ifadesi hata verecektir. Böyle ifadeler için numpy metodlarını kullanmalıyız
# Numpy dizileri için logical_and, logical_or, logical_not metodlarını kullanabiliriz

In [4]:
np.logical_and(arr > 3, arr < 10)

array([ True, False,  True, False, False])

In [5]:
np.logical_or(arr <= 7, arr >= 10)

array([ True,  True,  True,  True,  True])

In [ ]:
# Pandas dataframe leri üzerinde mantıksal işlemler yapılabilir
# Örneğin brics dataframe içinde 8 milyon km kareden fazla toprağı bulunan ülkeleri bulmak istediğimizi düşünelim
# Bunun için 3 adım gereklidir: İlk önce area sütunun seçeriz, sonra bu sütun üzerinde karşılaştırma yaparız ve
# sonuçları kullanarak ülkeleri seçeriz

In [10]:
is_huge = brics_df["area"] > 8
brics_df[is_huge]

   country   capital    area  population
BR  brazil  brasilia   8.516       200.4
RU  russia    moscow  17.100       143.5
CH   china   beijing   9.597      1357.0

In [11]:
# Birden fazla mantıksal ifade kullanarak bir dataframe i filtreleyebiliriz
# Bunun için yine numpy metodlarını kullanırız

In [15]:
my_filter = np.logical_and(brics_df["area"] > 8, brics_df["area"] < 10)
brics_df[my_filter]

   country   capital   area  population
BR  brazil  brasilia  8.516       200.4
CH   china   beijing  9.597      1357.0