In [1]:
# Klasik txt gibi dosyaları open fonksiyonu ile okuyabiliriz: open('dosya-ismi', mod)
# open fonksiyonu dosyaya bir referans döndürür ve bu referans ile dosya içeriğini okuruz
# İstersek tüm dosyayı read metodu ile tek seferde istersek readline metodu ile satır satır okuyabiliriz
# Dosyayı okumak için açtıktan sonra kapatarak kaynakları geri vermeliyiz

In [7]:
file = open('test.txt', mode='r')
print(file.read())
file.close()

Line 1
Line 2

In [8]:
# İçerisinde tablolara ait kayıtlar içeren dosyalar flat-file olarak bilinir
# Eğer flat-file tamamen sayısal değerlerden oluşuyorsa Numpy ile verileri numpy array olarak almak mantıklıdır
# Eğer tablolar söz konusu ise Pandas kullanırız

In [9]:
# Numpy ile sayısal değerleri bir dosyadan okuyarak bir numpy array oluşturmak için loadtxt ve ya genfromtxt
# metodlarını kullanabiliriz. Dosyaları okurken delimeter karakterine dikkat etmeliyiz, varsayılan olarak
# boşluk kullanılır fakat eğer dosyada veriler farklı şekilde ayrılmışsa haricen belirlenmelidir
# Eğer verilerin başında bir header varsa ilk satırı skiprows=1 argümanı ile atlayabiliriz
# Eğer sadece bazı sütunları almak istiyorsak, mesela ilk ve üçüncü sütunu, usecols=[0, 2] argümanını kullanabiliriz
# dtype parametresi ile verileri farklı formatlarda okuyabiliriz

In [11]:
import numpy as np

nums = np.loadtxt('numerical.txt', delimiter=',', usecols=[0, 2], skiprows=1)
nums

array([[1., 3.],
       [4., 6.]])

In [16]:
strs = np.loadtxt('strings.txt', delimiter=',', dtype=str)
strs

array([['First', 'Second', 'Third', 'Fourth'],
       ['Tolga', 'Karahan', 'BsC', 'Computer Engineering'],
       ['Hande', 'Fırat', 'MsC', 'Medicine'],
       ['Efe', 'Can', 'PhD', 'Physics']], dtype='<U20')

In [17]:
# Karışık veri tiplerinde kayıtlar bulunduran dosyaları okumak için genfromtxt metodunu kullanırız
# dtype=None olacak şekilde argüman verdiğimizde veri tipleri kendiliğinden çıkartılır
# Numpy dizileri sadece aynı tipte elemanlar içerebilir. Burada ise her satırda farklı tiplerde elemanlar var
# Bu nedenle her bir elemanı alınan dosyanın satırları olan, tek boyutlu bir structured array söz konusudur

In [23]:
data = np.genfromtxt('mixed-data.txt', delimiter=',', names=True, dtype=None, encoding='UTF-8')
data

array([('Tolga', ' Karahan', 4.78237e+03, 26),
       ('Ahmet', ' Ercan', 1.47000e+01, 35),
       ('Eda', ' Güler', 3.20000e+00, 26)],
      dtype=[('Ad', '<U5'), ('Soyad', '<U8'), ('Maaş', '<f8'), ('Yaş', '<i8')])

In [24]:
# Karışık veri tiplerinden oluşan tabloları Numpy ile okumak kullanışlı değil
# Numpy yerine Pandas kullanmalıyız. Pandas kütüphanesinin read_csv metodu verileri okur ve bir DataFrame döndürür
# İstersek df.values şeklinde verileri Numpy dizisi olarak elde edebiliriz

In [2]:
import pandas as pd

data = pd.read_csv('mixed-data.txt', header=0)
values = data.values
values

array([['Tolga', ' Karahan', 4782.37, 26],
       ['Ahmet', ' Ercan', 14.7, 35],
       ['Eda', ' Güler', 3.2, 26]], dtype=object)

In [5]:
# Pandas paketi verileri alırken karşılaşılabilecek pek çok soruna çözüm sunar
# Örneğin dosyalar içindeki komut satırları ve ya kayıp değerler gibi...
data = pd.read_csv('mixed-data-corrupted.txt', sep=',', comment='#', na_values=['Kayıp'])
data

      Ad     Soyad     Maaş     Yaş
0  Tolga   Karahan  4782.37      26
1  Ahmet     Ercan    14.70   Kayıp
2    Eda     Güler     3.20      26